{% if include.post.external %}
	<i class="fa fa-external-link" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "update" %}
	<i class="fa fa-arrow-up" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "downtime" %}
	<i class="fa fa-exclamation" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "training" %}
	<i class="fa fa-graduation-cap" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "paper" %}
	<i class="fa fa-file-text" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "tools" %}
	<i class="fa fa-wrench" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "devops" %}
	<i class="fa fa-gear" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "release" %}
	<i class="fa fa-bullhorn" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "job" %}
	<i class="fa fa-user-plus" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "video" %}
	<i class="fa fa-video-camera" aria-hidden="true"></i>
{% endif %}
{% if include.post.tags contains "s4f" %}
🌍🔥
{% endif %}
