{% for tag in post.tags %}
    {% if exlcude_icons %}
        {% if tag != "update" %}
        {% if tag != "downtime" %}
        {% if tag != "training" %}
        {% if tag != "paper" %}
        {% if tag != "tools" %}
        {% if tag != "devops" %}
        {% if tag != "release" %}
        {% if tag != "job" %}
        {% if tag != "video" %}
        <a href="javascript:window.location.href=window.location.href.split('?')[0] + '?tag={{ tag }}'"
           class="btn btn-primary btn-xs tag-element" role="button">{{ tag }}</a>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    {% else %}
        <a href="javascript:window.location.href=window.location.href.split('?')[0] + '?tag={{ tag }}'"
           class="btn btn-primary btn-xs tag-element" role="button">{{ tag }}</a>
    {% endif %}
{% endfor %}
