<footer class="navbar-default">
    <div class="container">
        <!--div class="row">
            <div class="col-lg-6">
                <p class="navbar-brand"><a href="http://usegalaxy-eu.github.io">{{ site.title }}</a></p>
            </div>
        </div-->
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <p>The <a href="https://usegalaxy-eu.github.io/people">Freiburg Galaxy Team</a> is headed by Björn Grüning and is part of the <a href="http://www.bioinf.uni-freiburg.de">Bioinformatics Group Freiburg</a>, headed by Prof. Dr. Rolf Backofen.</p>
                <p>The team is part of <a href="https://www.denbi.de">de.NBI</a> and <a href="https://www.elixir-europe.org">ELIXIR</a> and largely funded by <a href="http://dfg.de/">DFG</a>
                  and <a href="https://www.bmbf.de">BMBF</a>. All content on this site is available under <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0-1.0</a>, unless otherwise specified.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <ul class="contact-info">
                    {% if site.email %}
                      <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                    {% if site.github_username %}
                      <li><i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>
                    {% endif %}
                    {% if site.twitter_username %}
                      <li><i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li>
                    {% endif %}
                      <li><i class="fa fa-rss"></i>Subscribe <a href="{{ "/feed.xml" | absolute_url }}">via RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
