## Why join us

Join the Freiburg Galaxy Team and you'll join a community of skilled professionals. We offer attractive conditions and benefits to attract and retain you:

### Leading group of Galaxy Europe​ (the biggest Galaxy server in Europe), ​Bioconda​ & BioContainers

We offer the chance to work with leading, cutting edge technologies both in IT and computational biology and give you the opportunity to broaden your skills using open source technologies within a bioinformatics context.

### Flexible and international working environment

We're a diverse and young [team]({% link freiburg/people.md %}) from several countries. The working language of the team is English. Creativity, curiosity and expertise can be found here, fostered by a collegial and supportive working environment.

The regular working week in the team is a 5-day week, with 39 working hours, excluding breaks. We also offers part-time positions and flexible working time as well as a generous annual leave allowance.

### Competitive salaries

We offer salaries according to [TV-L](https://oeffentlicher-dienst.info/tv-l/allg), e.g. E13 for a PostDoc or a PhD student, with 100% positions.

### Development of professional and personal skills

The university offers a specific education program for PostDocs to develp their professional and personal skills. You could also acquire broad teaching and training skills by giving lectures and Galaxy hands-on training courses.

### Connection to a wide network

Members of the Freiburg Galaxy team work closely with researchers on projects at the leading edge of data-intensive science. We offer the connection to world-wide and large communities via Galaxy, Bioconda and BioContainers, but also to numerous cooperation partners within the networks of de.NBI, ELIXIR, and industry.

### Life in one of the most beautiful and the greenest cities in the south of Germany

Freiburg is dynamic and international city with a large university. Located in the Black Forest (south west of Germany), Freiburg is known for its temperate climate, its old rebuilt medieval city center as well as for its high standard of living and advanced environmental practices.