<div class="item carousel-item jumbotron">
  <h2 class="display-3">Training</h2>
  <p class="lead"></p>
  <p>Supporting researchers by educating them in e.g. big data analysis, programming, data management, and Galaxy server administration,
    is one of our flagship services as we believe that <strong>sharing of knowledge</strong> and the <strong>open science</strong> movement are the key points in future.</p>

  <p>Regular workshops are provided by us: You can check our <a href="{{site.url}}/{{base.url}}/events">calendar</a> to find out where our next workshops are.</p>

  <p>No matter how hard we tried, we could not meet the demand for on-site and hands-on training.
    For those of you unable to attend one of our training sessions, we offer training materials,
    freely accessible online at <a href="https://training.galaxyproject.org">https://training.galaxyproject.org</a>.
  </p>
  <p>
    We sincerely hope that our online training material will help you to get started. Please also check our <a href="https://usegalaxy.eu/tours">Galaxy Interactive Tours</a>.
  </p>
</div>
