<div class="row" id="carousel-eu-container">
  <div class="col-sm-12" id="carousel-eu">

    {% if page.layout != "galaxy" %}
     {% include carousel_before.html pages=8 %}
    {% else %}
     {% include carousel_before.html pages=7 %}
    {% endif %}

        {% include home_carousel_galaxy.html %}
        {% include home_carousel_tiaas.html %}
        {% include home_carousel_usegalaxy_eu.html %}
        <!-- {% include home_carousel_involved.html %} -->
        <!-- {% include home_carousel_supported_projects.html %} -->
        {% include home_carousel_training.html %}
        <!-- {% include home_carousel_acknowledgments.html %} -->
        {% include home_carousel_downtime.html %}
        {% if page.layout != "galaxy" %}
           {% include home_carousel_data_policy.html %}
        {% endif %}
        {% include home_carousel_admin.html %}
        {% include home_carousel_subdomains.html %}
     {% include carousel_after.html %}
  </div>
</div>
