<div class="row" id="splash-row">
  <div class="col-sm-12">
     {% include carousel_before.html pages=8 %}
        {% include home_carousel_galaxy.html %}
        {% include home_carousel_tiaas.html %}
        {% include home_carousel_usegalaxy_eu.html %}
        {% include home_carousel_involved.html %}
        {% include home_carousel_supported_projects.html %}
        {% include home_carousel_training.html %}
        {% include home_carousel_acknowledgments.html %}
        {% include home_carousel_downtime.html %}
     {% include carousel_after.html %}
  </div>
</div>
