<div class="item carousel-item jumbotron active">
  <h2 class="display-3">Domain-specific European Galaxies</h2>
  <div class="col-md-12">
    <p>UseGalaxy.eu hosts several domain-specific versions of the usegalaxy.eu server. You can access any of these servers and find data and tools focused on the following research areas:</p>
<style type="text/css">
.domain-button {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 5px;
}
a .domain-button:hover {
	box-shadow: #ccc 0 0 13px 5px;
}
</style>


	<div class="row">
{% for page in site.pages %}
	{% if page.layout == "subsite-galaxy" %}
	<a href="https://{{ page.url | remove: '/index-' | remove: '.html' }}.usegalaxy.eu"
	   target="_blank" rel="noopener" >
		<div class="col-xs-6 col-sm-6 col-md-4 domain-button">
		<b>{{ page.url | remove: '/index-' | remove: '.html' }}</b>.usegalaxy.eu
		</div>
	</a>
	{% endif %}
{% endfor %}

	</div>

  </div>
</div>
