<div class="item carousel-item jumbotron">
  <h2 class="display-3">Training Infrastructure as a Service</h2>
  <div class="col-md-6">
  <p>
  We want to help you conduct your training seminars. You provide the
  training, we provide you training infrastructure <i>at no cost.</i>
  </p>
  <div>
    <p>Why use UseGalaxy.eu training infrastructure?</p>
    <ul>
      <li>Free</li>
      <li>Private queue, no wait times</li>
      <li>No Galaxy Maintenance</li>
      <li>No Galaxy Administration</li>
      <li>Official Galaxy Training Materials guaranteed to work</li>
    </ul>
  </div>
  </div>

  <div class="col-md-6">
  <img src="/assets/media/tiaas-logo.png" style="padding-bottom: 3em">
  <p>
  Simply fill out the infrastructure request form and we'll get back to you shortly.
  </p>
  {% include button.html url="https://galaxyproject.eu/tiaas" text="Find out more" %}
  </div>
</div>
