<div class="item carousel-item jumbotron active">
  <h2 class="display-3">Domain-specific European Galaxies</h2>
  <div class="col-md-12">
    <p>UseGalaxy.eu hosts several domain specific versions of the usegalaxy.eu server. You can access any of these servers and find all of your data, with a set of tools focused on one specific domain.</p>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Instance</th><th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://metagenomics.usegalaxy.eu">metagenomics.usegalaxy.eu</a></td>
                <td>An instance focused on metagenomics tools like Mothur and Qiime</td>
            </tr>
            <tr>
                <td><a href="https://proteomics.usegalaxy.eu">proteomics.usegalaxy.eu</a></td>
                <td>An instance focused around proteomics</td>
            </tr>
            <tr>
                <td><a href="https://hicexplorer.usegalaxy.eu">hicexplorer.usegalaxy.eu</a></td>
                <td>The place to go for all of your HiC analyses</td>
            </tr>
            <tr>
                <td><a href="https://graphclust.usegalaxy.eu">graphclust.usegalaxy.eu</a></td>
                <td>An instance focused on structural clustering of RNA secondary structures</td>
            </tr>
            <tr>
                <td><a href="https://clipseq.usegalaxy.eu">clipseq.usegalaxy.eu</a></td>
                <td>The place to go for all of your CLIP analyses</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
