<div class="row" id="carousel-eu-container">
  <div class="col-sm-12" id="carousel-eu">
     {% include carousel_before.html pages=11 %}
        {% include home_carousel_galaxy.html %}
        {% include home_carousel_tiaas.html %}
        {% include home_carousel_usegalaxy_eu.html %}
        {% include home_carousel_involved.html %}
        {% include home_carousel_supported_projects.html %}
        {% include home_carousel_training.html %}
        {% include home_carousel_acknowledgments.html %}
        {% include home_carousel_downtime.html %}
        {% include home_carousel_data_policy.html %}
        {% include home_carousel_admin.html %}
        {% include home_carousel_subdomains.html %}
     {% include carousel_after.html %}
  </div>
</div>
