<div class="item carousel-item jumbotron">
  <h2 class="display-3">ProteoRE</h2>
  <div class="col-md-6">
  <p>The thematic for functional analysis and exploration of proteomics and transcriptomics data in biomedical research</p>
  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('https://proteore.usegalaxy.fr/')">Go to the ProteoRE thematic</button>
  </div>

  <div class="col-md-6">
  <img src="https://ifb-elixirfr.gitlab.io/usegalaxy-fr/welcome//base/images/proteore.png" alt="ProteoRE logo" style="max-width: 80%"/>
  </div>
</div>