<div class="item carousel-item jumbotron">
  <div class="container">
      <div class="row">
          <h3>Maintained by:</h3>
          <div class="col-sm-3 col-md-2">
              <a href="/freiburg" target="_blank">
                  <img src="{{ /assets/media/freiburg-galaxy.svg | absolute_url }}" class="img-responsive" alt="Freiburg Galaxy Logo" />
              </a>
          </div>
          <div class="col-sm-3 col-md-2">
              <a href="https://galaxyproject.org/teach/gtn/">
                  <img src="{{ /assets/media/gtn_logo.png | absolute_url }}" class="img-responsive" alt="Galaxy Training Network Logo" />
              </a>
          </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
          <h3>Sponsors/Funding:</h3>
          <div class="col-sm-3 col-md-3">
              <a href="https://www.dfg.de" target="_blank">
                  <img src="{{ /assets/media/dfg_logo.svg | absolute_url }}" class="img-responsive" alt="DFG Logo" />
              </a>
          </div>
          <div class="col-sm-3 col-md-3">
              <a href="https://www.bmbf.de" target="_blank">
                  <img src="{{ /assets/media/bmbf_logo.svg | absolute_url }}" class="img-responsive" alt="BMBF Logo" />
              </a>
          </div>
          <div class="col-sm-3 col-md-3">
              <a href="https://www.elixir-europe.org" target="_blank">
                  <img src="{{ /assets/media/elixir_logo.png | absolute_url }}" class="img-responsive" alt="ELIXIR Logo" />
              </a>
          </div>
      </div>
  </div>
</div>
