<div class="item carousel-item jumbotron">
  <h2 class="display-3">Downtime Notifications</h2>

  <div class="col-md-6">
  <p>
  We want you to feel that useGalaxy.eu is a reliable service, so we are
  promising to give you advanced warning (when possible) about upcoming
  downtimes or any events that might degrade the availability of useGalaxy.eu.
  </p>
  <ul>
    <li>This is a best effort, as much warning as we possibly can.</li>
    <li>But we cannot make any regarding downtime notices.</li>
    <li>The numbers we provide here are rough estimates.</li>
  </ul>
  </div>

  <div class="col-md-6">
  For any planned downtime events:
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Downtime</th><th>Advanced Notice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>&lt; 5 minutes</td><td>possibly without notice</td>
      </tr>
      <tr>
        <td>1 hour</td><td>1 day</td>
      </tr>
      <tr>
        <td>1 day</td><td>1 week</td>
      </tr>
      <tr>
        <td>1 week</td><td>1 month</td>
      </tr>
    </tbody>
  </table>
  </div>
  <p style="padding-bottom: 3em" />
</div>
