<div class="item carousel-item jumbotron">
  <div class="container">
      <div class="row">
        <h2 class="display-3"></h2>
        <p class="lead"></p>
        <p>The UseGalaxy.eu team supports many projects in the Galaxy community:</p>
      </div>

      <div class="row eu-image-box">
          <a href="http://galaxyp.org/" target="_blank">
              <img src="/assets/media/GalaxyP_logo.png" class="img-responsive eu-image" alt="Galaxy-P Logo" />
          </a>
          <a href="http://asaim.readthedocs.io/en/latest/" target="_blank">
            <img src="/assets/media/asaim_logo.png" class="img-responsive eu-image" alt="ASaiM Logo" />
          </a>
          <a href="http://training.galaxyproject.org/" target="_blank">
            <img src="/assets/media/gtn_logo.png" class="img-responsive eu-image" alt="GTN Logo" />
          </a>
      </div>
      <div class="row">
        <p class="lead"></p>
        <p>and also:</p>
        <ul>
          <li><a href="https://hicexplorer.usegalaxy.eu/">Galaxy HiCExplorer</a> to process, analyse and visualize Hi-C data</li>
        </ul>
      </div>
  </div>
</div>
