<div class="item carousel-item jumbotron">
  <h2 class="display-3">Service Administration</h2>
  <div class="col-md-6">
  <p>
    The maintenance and administration of UseGalaxy.eu is done primarily by the
    Freiburg Galaxy Team in collaboration with other academic
    groups across Europe and with the US Galaxy team.
    <br/>
    <br/>
    We make a <i>best effort</i> to provide high uptime. Please see our <a href="https://status.galaxyproject.org" target="_blank">status page</a>  for more information.
    <br/>
    <br/>
    The Freiburg Team tries to maintain a balance between service uptime and
    <a href="https://github.com/hexylena/presentations/blob/master/2018-04-retreat/main.pdf" target="_blank">the health of the administrators behind the service.</a>

    <br/>
    <br/>
    Sometimes we are able to achieve this, sometimes due to factors outside
    our control, our service is temporarily inaccessible.
  </p>
  </div>

  <div class="col-md-6">
    <a href="https://github.com/hexylena/presentations/blob/master/2018-04-retreat/main.pdf" target="_blank">
        <img src="/assets/media/hxr-empathy-presentation.png" />
    </a>
  </div>

</div>
