<div class="item carousel-item jumbotron">
  <h2 class="display-3">FTP upload</h2>
  <div class="col-md-6">
  <img src="https://bioinf-galaxian.erasmusmc.nl/galaxy/static/photos/filezilla-ftp.jpg" style="max-width: 65%; " />
  </div>
  <div class="col-md-6">
  <p>For large files, FTP upload is also available on this server. Connect to port
     23 with the same credentials you use to log into Galaxy. Once uploaded, open
     the Galaxy file upload menu, and click on the <i>Choose FTP file</i> button to
     import the files into your history.
  </p>

  <p>As an example, a screenshot of the configuration settings for
     <a href="https://filezilla-project.org/">FileZilla</a> can be found
     <a href="https://bioinf-galaxian.erasmusmc.nl/galaxy/static/photos/filezilla-ftp.jpg">here</a>
  </p>
  </div>

</div>
