<div class="item carousel-item jumbotron active">
  <h2 class="display-3">Laniakea@ReCaS</h2>
  <div class="col-md-6">
  <p>
  The <strong>Laniakea@ReCaS</strong> service, based on Laniakea software stack, provides the possibility to automate the creation of Galaxy-based virtualized environments through an easy setup procedure, providing an on-demand workspace ready to be used by life scientists and bioinformaticians. At the end of the configuration process, the user gains access to a private, production-grade, fully customizable, Galaxy virtual instance. Laniakea features the deployment of a stand-alone or cluster backed Galaxy instances, shared reference data volumes, encrypted data volumes and rapid development of novel Galaxy flavours for specific tasks.
  </p>
  {% include button.html url="https://laniakea-elixir-it.github.io/laniakea_at_recas" text="Get Access" %}
  </div>

  <div class="col-md-6 hidden-xs">
    <img src="/assets/media/laniakea-release.png" alt="Laniakea@ReCaS home page" style="max-width: 90%;"/>
  </div>
</div>
