<div class="item carousel-item jumbotron">
  <h2 class="display-3">Data transfer</h2>
  <p class="lead"></p>
  <p>For large files, FTP upload is also available on this server. Connect to port
     21 with the same credentials you use to log into Galaxy. Once uploaded, open
     the Galaxy file upload menu, and click on the <i>Choose FTP file</i> button to
     import the files into your history.
  </p>

  <p>If you want to analyse data already available on the GenOuest cluster, you can
    use the GenoLink or GenoCopy tools available in the "Get Data" section.
  </p>

  <p>If you want to transfer files to the GenOuest cluster, use the GenoSend tool
    in the "Send Data" section.
  </p>

</div>
