<div class="item carousel-item jumbotron">
  <div class="container">
      <h3>Maintained by</h3>
      <div class="row eu-image-box">
          <a href="https://galaxyproject.eu/freiburg/" target="_blank">
              <img src="/assets/media/freiburg-galaxy.svg" class="img-responsive eu-image" alt="Freiburg Galaxy Logo" />
          </a>
          <a href="https://galaxyproject.org/teach/gtn/">
              <img src="/assets/media/gtn_logo.png" class="img-responsive eu-image" alt="Galaxy Training Network Logo" />
          </a>
      </div>
      <br><br>
      <h3>Sponsors/Funding</h3>
      <br>
      <div class="row eu-image-box">
          <a href="https://www.denbi.de" target="_blank">
              <img src="/assets/media/deNBI_Logo_rgb.png" class="img-responsive eu-image" alt="de.NBI Logo" style="max-width: 80%;"/>
          </a>
          <a href="https://www.dfg.de" target="_blank">
              <img src="/assets/media/dfg_logo.svg" class="img-responsive eu-image" alt="DFG Logo"  style="max-width: 70%;"/>
          </a>
          <a href="https://mwk.baden-wuerttemberg.de/de/startseite/" target="_blank">
            <img src="/assets/media/mwk_logo.png" class="img-responsive eu-image" alt="MWK Logo" />
          </a>
          <a href="https://www.bmbf.de" target="_blank">
              <img src="/assets/media/bmbf_logo.svg" class="img-responsive eu-image" alt="BMBF Logo" />
          </a>
          <a href="https://www.elixir-europe.org" target="_blank">
              <img src="/assets/media/elixir_logo.png" class="img-responsive eu-image" alt="ELIXIR Logo" />
          </a>
      </div>
  </div>
</div>
