<div class="item carousel-item jumbotron">
  <h2 class="display-3">useGalaxy.eu: The European Galaxy instance</h2>
  <div class="container-fluid" style="height:100%;width:80%;font-size:20px;vertical-align:middle;margin-top:5%">
  <ul>
    <li><i class="fa fa-cogs"></i> Thousands of documented and maintained tools</li>
    <li><i class="fa fa-user-plus"></i> Free registration</li>
    <li><i class="fa fa-hdd"></i> 250 GB per user (500 GB for ELIXIR members)</li>
    <li><i class="fa fa-graduation-cap"></i> Training capacities on demand</li>
  </ul>
  <p style="font-size:20px;">And even <a href="about">more</a>!</p>

  <button type="button" class="btn btn-primary btn-lg" onclick="location.href='https://usegalaxy.eu'">Test it on useGalaxy.eu</button>
</div>

</div>
