<div class="item carousel-item jumbotron">
  <h2 class="display-3">Training</h2>
  <p class="lead"></p>

  <div class="col-md-6">
    <p>
      We regularly provide workshops
    </p>
    <p>
      {% include button.html url=url text="See the Calendar" %}
    </p>

    <p>
    But we cannot always meet capacity, so we've put all of our training
    materials online. This has become a community project with people from all
    over the world contributing training materials.
    </p>

    <p>
    Topics include: variant analysis, transcriptomics, metagenomics, epigenetics, and many more!
    </p>

    <p>
    {% include button.html url="https://training.galaxyproject.org" text="Visit the Training Material" %}
    {% include button.html url="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6296361/" text="View Publication" %}
    </p>
  </div>
  <div class="col-md-6 hidden-xs">
    <img src="/assets/media/training.png" alt="Galaxy training materials page" style="max-width: 90%;"/>
  </div>

</div>
