<div class="item carousel-item jumbotron">
  <h2 class="display-3">Ask the GalaxyCat</h2>
  <div class="col-md-6">
  <p>Can't find a tool on usegalaxy.fr?<br/>
  Why not search on the IFB Galaxy Catalog ?</p>
  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('http://galaxycat.france-bioinformatique.fr/')">Go to the ProteoRE thematic</button>
  </div>

  <div class="col-md-6">
  <img src="https://ifb-elixirfr.gitlab.io/usegalaxy-fr/welcome//base/images/galaxycat.png" alt="GalaxyCat logo" style="max-width: 80%"/>
  </div>
</div>