<div class="item carousel-item jumbotron">
	<h2 class="display-3">UseGalaxy.eu: The European Galaxy instance</h2>
	<div class="col-md-6" style="padding: 1em;">
		<ul>
		<li><i class="fa fa-cogs"></i> Thousands of documented and maintained tools</li>
		<li><i class="fa fa-user-plus"></i> Free registration</li>
		<li><i class="fa fa-hdd-o"></i> 250 GB per user (500 GB for ELIXIR members)</li>
		<li><i class="fa fa-graduation-cap"></i> On-demand training capacity</li>
		</ul>
		<p>And even more!</p>

		{% include button.html url="https://usegalaxy.eu" text="Try it on UseGalaxy.eu" %}
	</div>
	<div class="col-md-6">
		<img src="/assets/media/Flag_of_Europe.svg" />
	</div>
</div>
