<div class="item carousel-item jumbotron">
  <h2 class="display-3">Our team</h2>
  <div class="col-md-6">
  <p>This Galaxy is maintained by the <a href="https://www.france-bioinformatique.fr/">IFB</a> NNCR Cluster Task force, France.
  </p>
  <p> For any questions regarding this Galaxy server: https://community.france-bioinformatique.fr/
  </p>
  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('/ifb/people')">Visit the team page</button>
  </div>

  <div class="col-md-6">
  <img src="/assets/media/ifb/ifb_small.png" alt="IFB logo" style="max-width: 80%"/>
  </div>
</div>
