<div class="item carousel-item jumbotron">
  <h2 class="display-3">Acknowledgements</h2>
  <p>We are aiming to maintain high competency and provide high-quality data analysis
    services to all our Galaxy users.</p>

  <p>Therefore, we request that you acknowledge this service by including the
    members of the Freiburg Galaxy Team as co-authors if they have made a
    significant intellectual and/or organizational contribution to the work
    described (conceptualization, design, data analysis, data interpretation
    and/or input into drafting, revising or writing any portion of the manuscript).</p>

  <p>Individuals who have contributed to the project, but whose contributions
    do not rise to the level justifying authorship, can be recognized in the
    acknowledgements section of the manuscript as follows:</p>

  <blockquote>
    <p>The authors acknowledge the support of the Freiburg Galaxy Team:
      Person X and Prof. Rolf Backofen, Bioinformatics, University of Freiburg,
      Germany funded by <a href="http://www.sfb992.uni-freiburg.de">Collaborative
        Research Centre 992 Medical Epigenetics</a> (<a href="http://www.dfg.de">DFG</a>
      grant SFB 992/1 2012) and the German Federal Ministry of Education and Research
      (<a href="http://www.bmbf.de/">BMBF</a> grant 031 A538A <a href="https://www.denbi.de">de.NBI</a>-RBC).
    </p>
  </blockquote>

  <p>Additional funding of projects and/or provision of material expenses are welcome as well, to help
    support our growing Galaxy community in Freiburg.</p>
  <p style="padding-bottom: 3em" />
</div>