<div class="item carousel-item jumbotron active">
  <h2 class="display-3">Data Driven Reseach for Everyone</h2>
  <p class="lead"></p>
  <p>Galaxy is an <strong>open, web-based</strong> platform for accessible, reproducible, and transparent computational biological research.</p>
  <ul>
    <li><strong>Accessible:</strong> Users can easily configure and run tools without the need to write code, all via an user-friendly web-based interface.</li>
    <li><strong>Reproducible:</strong> Galaxy captures the full metadata required so that any user can not only understand but also reproduce the complete computational analysis.</li>
    <li><strong>Transparent:</strong> Users can extract, share and publish analyses via interactive, web-based documents that can enhance analyses with user-supplied annotation.</li>
    <li><strong>Scalable:</strong> Galaxy scales: it can run on a local computer, on a large cluster or on the cloud</li>
  </ul>
</div>
