<div class="item carousel-item jumbotron">
  <h2 class="display-3">Our team</h2>
  <div class="col-md-6">
  <p>Laniakea is maintained by the IBIOM-CNR, INFN and the University of Milan.
  </p>
  <p> For any questions regarding Laniakea and other ELIXIR-Italy initiatives, please contact us.
  </p>
  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('/elixir-it/people')">Visit the team page</button>
  </div>

  <div class="col-md-6">
  <img src="https://github.com/Laniakea-elixir-it/branding/raw/master/laniakea/laniakea_logo_def_mod.png" alt="Laniakea logo" style="max-width: 90%"/>
  </div>
</div>
