<div class="item carousel-item jumbotron">
  <h2 class="display-3">Our services</h2>
  <p>The Freiburg Galaxy Team is offering several services to enable <strong>reproducible</strong> and <strong>accessible</strong> research for everyone:</p>
  <ul>
    <li><i class="fa fa-server"></i> <a href="/freiburg/services#galaxy-server">Galaxy server</a></li>
    <li><i class="fa fa-graduation-cap"></i> <a href="/freiburg/services#training">Training</a></li>
    <li><i class="fa fa-cube"></i> <a href="/freiburg/services#virtualization-for-sensitive-data">Virtualization for Sensitive Data</a></li>
    <li><i class="fa fa-table"></i> <a href="/freiburg/services#data-analysis">Data analysis</a></li>
    <li><i class="fa fa-cogs"></i> <a href="/freiburg/services#tool-integration">Tool integration & development</a></li>
    <li><i class="fa fa-cloud"></i> <a href="/freiburg/services#scientific-computing-cloud">Scientific computing cloud</a></li>
  </ul>
</div>
