<div class="item carousel-item jumbotron">
  <h2 class="display-3">Training Materials</h2>

  <div class="col-md-6">
  <p>The Galaxy Community maintains a wide variety of training materials at <a href="https://training.galaxyproject.org">https://training.galaxyproject.org</a>
  </p>
  <p>
  Topics include: variant analysis, transcriptomics, metagenomics, epigenetics, and many more!
  </p>
  <p>

  {% include button.html url="https://training.galaxyproject.org" text="Visit the Training Material" %}
  {% include button.html url="https://t.co/jIwWZ3qrrr" text="View Publication" %}

  </p>
  </div>

  <div class="col-md-6">
      <img src="/assets/media/training.png" alt="Galaxy training materials page" style="max-width: 90%;"/>
  </div>
</div>
