<div class="item carousel-item jumbotron">
  <h2 class="display-3">Training Materials</h2>

  <div class="col-md-6">
  <p>The Galaxy Community maintains a wide variety of training materials at <a href="https://training.galaxyproject.org">https://training.galaxyproject.org</a>
  </p>
  <p>
  Topics include: variant analysis, transcriptomics, metagenomics, epigenetics, and many more!
  </p>
  <p>

  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('https://training.galaxyproject.org','_blank')">Visit Training Page</button>

  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('https://www.biorxiv.org/content/early/2018/04/05/225680', '_blank')">View Publication</button>

  </p>
  </div>

  <div class="col-md-6">
  <img src="https://bioinf-galaxian.erasmusmc.nl/galaxy/static/training.png" alt="Galaxy training materials page" style="max-width: 90%;"/>
  </div>
</div>
