<div class="item carousel-item jumbotron active">
  <h2 class="display-3">Data Driven Research for Everyone</h2>
  <div class="col-md-6">
  <p>Galaxy is an <strong>open, web-based</strong> platform for accessible, reproducible, and transparent computational biological research.</p>
  <ul>
    <li><strong>Accessible:</strong> Users can easily run tools without writing code or using the CLI; all via a user-friendly web interface.</li>
    <li><strong>Reproducible:</strong> Galaxy captures all the metadata from an analysis, making it completely reproducible.</li>
    <li><strong>Transparent:</strong> Users share and publish analyses via interactive pages that can enhance analyses with user annotations.</li>
    <li><strong>Scalable:</strong> Galaxy can run on anything, from a laptop, to large clusters or the cloud.</li>
  </ul>
  </div>

  <div class="col-md-6 hidden-xs" style="padding-left: 2em">
    <p>
      <img src="/assets/media/usegalaxy-eu-screenshot.png" alt="UseGalaxy.eu home page" style="max-width: 80%;"/>
    </p>
    {% include button.html url="https://usegalaxy.eu" text="UseGalaxy.eu" %}
  </div>
</div>
