<div class="item carousel-item jumbotron">
  <h2 class="display-3">Training Infrastructure as a Service</h2>

  <p>
  We want to help you conduct your training seminars. Where you provide the training, we can provide you training infrastructure at no cost.
  </p>
  <p>
    Benefits of UseGalaxy.EU training infrastructure:
    <ul>
      <li>Private queue, no wait times</li>
      <li>No Galaxy Maintenance</li>
      <li>No Galaxy Administration</li>
    </ul>
  </p>
  <p>
  Simply fill out the infrastructure request form and we'll get back to you shortly.

  <button type="button" class="btn btn-primary btn-lg" onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSdoPRDhpYwNFuZSlGRNQj3dDWwfsdemP5yntAdcqhN3YHbqLA/viewform'">Request Training Infrastructure</button>
  </p>
</div>
