<div class="item carousel-item jumbotron">
  <h2 class="display-3">Workflow4Metabolomics</h2>
  <div class="col-md-6">
  <p>The thematic dedicated to metabolomics data processing, analysis and annotation for Metabolomics community</p>
  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('https://workflow4metabolomics.usegalaxy.fr/')">Go to the Workflow4Metabolomics thematic</button>
  </div>

  <div class="col-md-6">
  <img src="https://ifb-elixirfr.gitlab.io/usegalaxy-fr/welcome//base/images/w4m.png" alt="W4M logo" style="max-width: 80%"/>
  </div>
</div>