<div class="item carousel-item jumbotron">
  <h2 class="display-3">Who is involved?</h2>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
              <h3>Maintained by:</h3>
          </div>
          <div class="col-sm-3 col-md-2">
              <a href="/freiburg">
                  <img src="/assets/media/freiburg-galaxy.svg" class="img-responsive" />
              </a>
          </div>
          <div class="col-sm-3 col-md-2">
              <a href="https://galaxyproject.org/teach/gtn/">
                  <img src="/assets/media/gtn_logo.png" class="img-responsive" />
              </a>
          </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
          <div class="col-sm-3 col-md-3">
              <h3>Sponsors/Funding:</h3>
          </div>
          <div class="col-sm-3 col-md-3">
              <a href="https://www.dfg.de">
                  <img src="/assets/media/dfg_logo.svg" class="img-responsive" />
              </a>
          </div>
          <div class="col-sm-3 col-md-3">
              <a href="https://www.bmbf.de">
                  <img src="/assets/media/bmbf_logo.svg" class="img-responsive" />
              </a>
          </div>
          <div class="col-sm-3 col-md-3">
              <a href="https://www.elixir-europe.org">
                  <img src="/assets/media/elixir_logo.png" class="img-responsive" />
              </a>
          </div>
      </div>
  </div>
</div>
