<div class="item carousel-item jumbotron">
  <h2 class="display-3">Training</h2>
  <p class="lead"></p>
  <p>Supporting researchers by educating them in e.g. big data analysis, programming, data management, and Galaxy server administration, is one of our flagship services as we believe that <strong>sharing of knowledge</strong> and the <strong>open science</strong> movement are the key points in future.</p>

  <p>Regular workshops are provided by us: You can check our <a href="{{site.url}}/{{base.url}}/events">calendar</a> to find out how to join our next workshop.</p>

  <p>Unfortunately, we cannot meet the demand for training. For those of you unable to attend one of our training sessions, we offer training materials, freely accessible online at <a href="http://training.galaxyproject.org">http://training.galaxyproject.org</a></p>
</div>
