<div class="item carousel-item jumbotron">
  <div class="container">
      <div class="row">
        <h2 class="display-3">Supported projects</h2>
        <p class="lead"></p>
        <p>The useGalaxy.eu team is supporting leading projects in the Galaxy community:</p>
      </div>
      
      <div class="row">
        <div class="col-sm-3 col-md-2">
              <a href="http://galaxyp.org/" target="_blank">
                  <img src="{{ "/assets/media/GalaxyP_logo.png" | absolute_url }}" class="img-responsive" alt="Galaxy-P Logo" height="42px"/>
              </a>
          </div>
          <div class="col-sm-3 col-md-2">
              <a href="http://asaim.readthedocs.io/en/latest/" target="_blank">
                <img src="{{ "/assets/media/asaim_logo.png" | absolute_url }}" class="img-responsive" alt="ASaiM Logo" height="42"/>
              </a>
          </div>
          <div class="col-sm-3 col-md-2">
              <a href="http://training.galaxyproject.org/" target="_blank">
                <img src="{{ "/assets/media/gtn_logo.png" | absolute_url }}" class="img-responsive" alt="GTN Logo" height="42"/>
              </a>
          </div>
      </div>
      <div class="row">
        <p class="lead"></p>
        <p>and also:</p>
        <ul>
          <li><a href="https://hicexplorer.usegalaxy.eu/">Galaxy HiCExplorer</a> to process, analyse and visualize Hi-C data</li>
        </ul>
      </div>
  </div>
</div>
