<div class="item carousel-item jumbotron">
  <h2 class="display-3">useGalaxy.eu: The European Galaxy instance</h2>
  <div style='font-size: 130%;'>
  <div class="container-fluid">
  <ul>
    <li><i class="fa fa-cogs"></i> Thousands of documented and maintained tools</li>
    <li><i class="fa fa-user-plus"></i> Free registration</li>
    <li><i class="fa fa-hdd-o"></i> 250 GB per user (500 GB for ELIXIR members)</li>
    <li><i class="fa fa-graduation-cap"></i> On demand training capacity</li>
  </ul>
  <p>And even more!</p>
  </div>
  <button type="button" class="btn btn-primary btn-lg" onclick="window.open('https://usegalaxy.eu','_blank')">Try it on useGalaxy.eu</button>
</div>

</div>
