{% assign page_dir = page.dir | split:'/' %}
{% assign key = page_dir[1] | default: page.site %}
{% assign key_length = key | size %}

{% for notice in site.data.notices %}
{% assign should_show = false %}

{% if key == "galaxy" %}
	{% comment %} Our top-level Galaxy site {% endcomment %}
	{% if notice.site == "freiburg" %}
		{% assign should_show = true %}
	{% endif %}
{% else if key == "" %}
	{% comment %} A subsite {% endcomment %}
	{% if notice.site == "freiburg" %}
		{% assign should_show = true %}
	{% endif %}
{% else %}
	{% comment %} A subsite {% endcomment %}
	{% if notice.site == key %}
		{% assign should_show = true %}
	{% endif %}
{% endif %}

{% if should_show %}
<div class="alert alert-{{ notice.class }}" style="margin-top: 0.5em">
	<h4>{{ notice.title }}</h4>
	{% assign messages = notice.messages | sort:'date' | reverse %}
	{% for message in messages %}
	<div>{% if message.date %}[{{ message.date | date: "%-d %B %Y %H:%M" }}] {% endif %}{{ message.message | markdownify }}</div>
	{% endfor %}
</div>
{% endif %}

{% endfor %}
