<div class>
  <div class="list-group">
    {% if include.logo %}
    <img src="{{ "/assets/media/galaxy-eu.svg" | absolute_url }}" style="padding: 0.5em; height: 5em;"/>
    {% endif %}
    {% assign items1 = site.events | sort:"starts" | reverse %}

    {% if include.site and site.team_sites[include.site].private_news %}
    {% assign items = items1 | where:'site', include.site %}
    {% else %}
    {% assign items = items1 %}
    {% endif %}

    {% if include.newtab %}
    {% assign url_target = 'target="_blank"' %}
    {% endif %}

    {% if include.plain %}
    {% assign url_ext = 'plain.html' %}
    {% endif %}

    {% for post in items limit:6 %}
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <a class="list-group-item {% if include.site and site.team_sites[include.site].private_news  %}{% else %}border-{{ post.site }}{% endif %}" href="{{ post.url | absolute_url }}{{ url_ext }}" {{ url_target }}>
        <p class="list-group-item-text">
        {% if post.starts == post.ends %}
        {{ post.starts | date: date_format }}
        {% else %}
        {{ post.starts | date: date_format }} - {{ post.ends | date: date_format }}
        {% endif %}
        </p>

        <h4 class="list-group-item-heading">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{ post.title | escape }}
        </h4>
      </a>
    {% endfor %}
  </div>
</div>
