<div class>
  <div class="list-group">
    {% if include.logo %}
	<img src="{{ "/assets/media/galaxy-eu.svg" | absolute_url }}" style="padding: 0.5em; height: 5em;"/>
	{% endif %}
    {% assign events = site.posts_plain | reverse %}
    {% for post in events limit:5 %}
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <a class="list-group-item" href="{{ post.url | absolute_url }}" target="_blank">
        <p class="list-group-item-text">{{ post.date | date: date_format }}</p>
        <h4 class="list-group-item-heading">
          {% include article_icons.html post=post %}
          {{ post.title | escape }}
        </h4>
      </a>
    {% endfor %}
  </div>
</div>
