.navbar {
	background-color: white !important;
	border: 0px;
}

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
	color: black;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus,
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
	color: #003399 !important;
}
