---
layout: default-galaxy
---
{% assign key = "freiburg" %}

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<div class="row">

	<section class="section-content">
		<div class="col-md-12">
			<h1>Events</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Topic/Event</th>
						<th>Starts</th>
						<th>Ends</th>
					</tr>
				</thead>
				<tbody>
					{% assign posts = site.events_plain | sort:"starts" | reverse %}
					{% for post in posts %}
						{% if post.site == key %}
						<tr>
							<td>
								<h4><a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a></h4>
								<div>{{ post.excerpt }}</div>
							</td>
							<td>
							<span class="text-nowrap">{{ post.starts | date: date_format }}</span>
							</td>
							<td>
							<span class="text-nowrap">{{ post.ends   | date: date_format }}</span>
							</td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
</div>
