---
layout: default-galaxy
---
{% assign page_dir = page.dir | split:'/' %}
{% assign key = page_dir[1] | default: page.site  %}
{% assign key_length = key | size %}

{% if key_length == 0 or key == "galaxy" %}
  {% comment %}
    We're on the main page, not a member site.
    The `key` is either "galaxy" or empty (`key_length` of 0, renders as "", but doesn't equal "").
  {% endcomment %}
  {% assign subsite = "eu" %}
{% else %}
  {% assign subsite = key %}
{% endif %}
{% assign redirect = "https://galaxyproject.org/" | append: subsite | append: "/events/" %}
{% include deprecation_notice.html name="Galaxy Events" redirect=redirect %}

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<section class="page-header">
  <div class="row">
    <div class="col-sm-12 text-center">
      {% if key_length == 0 or key == "galaxy" or site.team_sites[key].private_news == false %}
      <h1>European Galaxy Events</h1>
      {% else %}
      <h1>{{ site.team_sites[key].name }} Events</h1>
      {% endif %}
    </div>
  </div>
</section>

{% if key_length == 0 %}
  {% assign posts_descending = site.events_plain | sort:"starts" | reverse %}
  {% assign posts_ascending = site.events_plain | sort:"starts" %}
{% else %}
  {% if site.team_sites[key].private_news == false or key == "galaxy" %}
    {% assign posts_descending = site.events_plain | sort:"starts" | reverse %}
    {% assign posts_ascending = site.events_plain | sort:"starts"  %}
  {% else %}
    {% assign posts_descending = site.events_plain | where:'site', key | sort:"starts" | reverse %}
    {% assign posts_ascending = site.events_plain | where:'site', key | sort:"starts" %}
  {% endif %}
{% endif %}


<script>
  const load = () => {
    let recent = $("#recent-events");
    let passed = $("#passed-events");
    let div;
    let date;
    let today = new Date();
    // ignore time (at least for now)
    today.setHours(0,0,0,0)
    const createDiv = ()=>{

    }
    {% for post in posts_descending %}
        if (new Date(`{{ post.ends | date: "%-d %b %Y" }}`) <= today) {
            div = `
                {% include event.html post=post date_format=date_format %}
            `
            passed.append(div)
          }
    {% endfor %}

    {% for post in posts_ascending %}
          if (new Date(`{{ post.ends | date: "%-d %b %Y" }}`) >= today) {
            div = `
                {% include event.html post=post date_format=date_format %}
            `
            recent.append(div)
          }
    {% endfor %}
  }
  window.onload = load;
</script>




{% for i in (1..2) %}
{% if i==1 %}
<h2 class="text-center"><span class="label label-success">Current & Upcoming</span></h2>
{% else %}
<h2 class="text-center"><span class="label label-warning">Past</span></h2>
{% endif %}
<section class="section-content">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead
              {% if i==1 %}
              class="list-group-item-success"
              {% else %}
              class="list-group-item-warning"
              {% endif %}
      >
        <tr>
          {% if key_length == 0 or site.team_sites[key].private_news == false or key == "galaxy" %}
          <th>Site</th>
          {% endif %}
          <th>Topic/Event</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody
              {% if i==1 %}
              id="recent-events">
              {% else %}
              id="passed-events">
              {% endif %}
      </tbody>
    </table>
  </div>
</section>

{% endfor %}
