---
layout: default-galaxy
---
{% assign page_dir = page.dir | split:'/' %}
{% assign key = page_dir[1] | default: page.site  %}
{% assign key_length = key | size %}

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<section class="page-header">
  <div class="row">
    <div class="col-sm-12 text-center">
      {% if key_length == 0 or key == "galaxy" or site.team_sites[key].private_news == false %}
      <h1>European Galaxy Events</h1>
      {% else %}
      <h1>{{ site.team_sites[key].name }} Events</h1>
      {% endif %}
    </div>
  </div>
</section>

{% if key_length == 0 %}
  {% assign posts = site.events_plain | sort:"starts" | reverse %}
{% else %}
  {% if site.team_sites[key].private_news == false or key == "galaxy" %}
    {% assign posts = site.events_plain | sort:"starts" | reverse %}
  {% else %}
    {% assign posts = site.events_plain | where:'site', key | sort:"starts" | reverse %}
  {% endif %}
{% endif %}

<section class="section-content">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          {% if key_length == 0 or site.team_sites[key].private_news == false or key == "galaxy" %}
          <th>Site</th>
          {% endif %}
          <th>Topic/Event</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr class="{% if key_length == 0 or site.team_sites[key].private_news == false or key == "galaxy" %}border-{{ post.site }}{% endif %}">
            {% if key_length == 0 or site.team_sites[key].private_news == false or key == "galaxy" %}
            <td>
                <div>{{ site.team_sites[post.site].name }}</div>
            </td>
            {% endif %}
            <td>
              <h4>
                {% if post.external %}
                  <a href="{{ post.external }}" target="_blank" rel="noopener">
                {% else %}
                  <a href="{{ post.url }}">
                {% endif %}
                {{ post.title | escape }}
                </a>
                <span>{% include article_icons.html post=post %}</span>
              </h4>
              <div>{{ post.excerpt }}</div>
            </td>
            <td>
            <span class="text-nowrap">{{ post.starts | date: date_format }}</span>
            </td>
            <td>
            <span class="text-nowrap">{{ post.ends   | date: date_format }}</span>
            </td>
            <td>
              {% if post.location.city %}
              {{ post.location.city }},
              {% endif %}
              {{ post.location.country }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
