---
layout: default
---
{% assign page_dir = page.dir | split:'/' %}
{% assign key = page_dir[1] | default: page.site %}
{% assign key_length = key | size %}

{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
<section class="page-header">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>{{ site.team_sites[key].name }} News</h1>
    </div>
  </div>
</section>

<section id="news-list">
  {% if key_length == 0 %}
    {% assign posts = site.posts | sort:'date' | reverse %}
  {% else %}
    {% if site.team_sites[key].private_news == false %}
      {% assign posts = site.posts | sort:'date' | reverse %}
    {% else %}
      {% assign posts = site.posts | where:'site', key | sort:'date' | reverse %}
    {% endif %}
  {% endif %}

  {% for post in posts %}
    <div class="news">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <div>
            <a href="{{ post.url | absolute_url }}">
              <h2 class="title">{{ post.title | escape }}</h2>
            </a>
            <span class="title-uppercase date">
              {{ post.date | date: date_format }}
            </span>
            <span class="label label-success">{{ site.team_sites[post.site].name }}</span>
            {% for tag in post.tags %}
              <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="news-content text-center">
            <div>{{ post.excerpt }}</div>
            <a href="{{ post.url | absolute_url }}" class="btn btn-danger btn-fill btn-sm">Read more</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
