---
layout: default
---
{% assign page_dir = page.dir | split:'/' %}
{% assign key = page_dir[1] | default: page.site %}
{% assign key_length = key | size %}

{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
<section class="page-header">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>{{ site.team_sites[key].name }} News</h1>
    </div>
  </div>
</section>

{% if key_length == 0 %}
  {% assign posts = site.posts | sort:'date' | reverse %}
{% else %}
  {% if site.team_sites[key].private_news == false or key == "galaxy" %}
    {% assign posts = site.posts | sort:'date' | reverse %}
  {% else %}
    {% assign posts = site.posts | where:'site', key | sort:'date' | reverse %}
  {% endif %}
{% endif %}

<section id="news-list">
  {% for post in posts %}
    {% assign count = 3 %}
    {% assign premod = 2 %}
    {% assign mod = forloop.index0 | modulo:count %}
{% if mod == premod %}
    <div class="row">
{% endif %}
    <div class="col-md-4 news">
      <div class="row" style="padding: 1em">
        <div>
          {% if post.external %}
            <a href="{{ post.external }}">
          {% else %}
            <a href="{{ post.url }}">
          {% endif %}
            <h2 class="title">{{ post.title | escape }}</h2>
          </a>
          <span class="date">
            {% include article_icons.html post=post %}
          </span>
          <span class="date">
            {{ post.date | date: date_format }}
          </span>
          <span class="label label-success">{{ site.team_sites[post.site].name }}</span>
          {% include article_tags.html post=post exclude_icons=true %}
        </div>
        <div class="news-content">
          <div>{{ post.excerpt }}</div>
        </div>
      </div>
    </div>
{% if mod == premod %}
    </div>
{% endif %}
  {% endfor %}
</section>
