---
layout: default-galaxy
---
{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
<section id="news-page">
  <div class="row news-header-row">
    {% if page.previous.url %}
    <a class="col-xs-1 text-center" href="{{ page.previous.url | relative_url }}">
      «
    </a>
    {% endif %}
    <div class="col-xs-10 {% if page.previous.url %}{% else %}col-xs-offset-1{% endif %}">
      <div class="text-center">
        <h2 class="title">{{ page.title | escape }}</h2>
      </div>
      <hr />
    </div>
    {% if page.next.url %}
    <a class="col-xs-1 text-center" href="{{ page.next.url | relative_url }}">
      »
    </a>
    {% endif %}
  </div>
  <div class="row post-metadata">
    <div class="col-md-8 col-md-offset-2">
      <div class="text-right">
        <div>
          <span class="post-date">
            {{ page.date | date: date_format }}
          </span>

          {% if page.location %}
          <br />
          <span class="post-location">
              {{ page.location }}
          </span>
          {% endif %}

          {% if page.tags.size > 0 %}
          <br />
          <span class="post-tags">
            {% for tag in page.tags %}
              <span class="label label-info">{{ tag }}</span>
            {% endfor %}
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="news-content">
        {{ content }}
      </div>
    </div>
  </div>

  {% include sponsors.html page=page %}
</section>
