---
layout: default
---
{% assign page_dir = page.dir | split:'/' %}
{% assign key = page_dir[1] | default: page.site %}
{% assign key_length = key | size %}
{% assign people = site.data.people %}

<!--if we have a subdir name-->
{% for k in site.data.people %}
	<!--If the subdir matches the key, assign it.-->
	{% if k[0] == key or key_length == 0 or key == "europe" %}
        {% assign kn = k[0] %}
		{% assign people = k %}

		<section class="page-header">
		  <div class="row">
			<div class="col-sm-12 text-center">
                <h1>{{ site.team_sites[kn].name }} Team</h1>
			</div>
		  </div>
		</section>

		<section id="people">
		  <div class="row">
			{% for person in people[1] %}
				{% include person.html data=person %}
			{% endfor %}
		  </div>
		</section>

		<script src="/assets/js/jquery.matchHeight-min.js" integrity="sha256-a/H26zcixe1svu2fYax7ANJMSzGYyJNI52hKKYJTar8=" crossorigin="anonymous"></script>
		<script>
		  $('.panel').matchHeight();
		</script>


	{% endif %}
{% endfor %}
